body{
    margin: 0;
}
footer{
    margin-top: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Nunito;
}
footer .address {
    color: #ffffff;
    width: 33%;
}
footer .address h3{
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 27px;
color: #FFFFFF;
}
footer .address h3::after{
    display: block;
    height: 5px;
    width: 45px;
    background-color: #ffffff;
    content: "";
    margin-top: 16px;
}
footer .address a{
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;

}
footer .address p:last-child{
    margin-bottom: 28px;
}
footer .address p{
    font-family: Nunito;
    font-size: 13px;
    line-height: 12px;
}
footer .contact{
    width: 33%;
}
footer .contact ul li{
    background-color: #ffffff;
    margin-bottom: 25px;
    border-radius:  5px;
    max-width: 200px;
    max-height: 40px;
    
}
footer .contact ul li:last-child{
    margin-bottom: 0;
}
footer .contact ul li a{
    text-transform: uppercase;
    font-size: 12px;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
}
footer .contact ul li p{
    margin: 5px;
    font-weight: bold;
    line-height: 12px;
}
footer .contact ul li img{
    margin: 10px 18px;
}
footer .created{
    display: flex;
}
footer .created div p{
    color: white;
    font-size: 10.6017px;
    line-height: 14px;
}
footer .created div p{
    margin-bottom: 1.79px;
}
footer .created div img{
    padding-right: 25px;
}
@media screen and (max-width: 375px){
    footer{
    flex-direction: column;}
    footer .address {
        color: #ffffff;
        width: 90%;
    }
    footer .contact{
        width: 75%;
    }
   footer .created{
       width: 100%;
       justify-content: space-around;
       margin-left: 35px;
       margin-bottom: 5px;
   }     
}